* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h1{
    text-align: center;
    color: saddlebrown;
    font-size: 2rem;
}
.board-container {
    display: grid;
    grid-template-columns: repeat(4, 160px); /* 4 columns */
    grid-template-rows: repeat(3, 160px);    /* 3 rows */
    gap: 10px;                                /* spacing */
    justify-content: center; 
}

.card {
    width: 120px;
    height: 160px;
    object-fit: cover;
    margin: 4px;
}

.card {
    width: 170px;
    height: 200px;
    background-color: rgb(17, 79, 79);
    border: none;
    border-radius: 5px;
}

.rest-btn {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  margin-top: 50px;
  width: 150px;
  height: 50px;
  background: #315532;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  align-self: center;
}



