

body {
  background-image: url("https://cdn.freecodecamp.org/curriculum/cat-photo-app/relaxing-cat.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100px;}

h1{
    cursor: pointer;
    text-align: center;
    color: yellow;
}
h4{
    text-align: center;
}
.board-container{
    text-align: center;
}

button {
    margin: 0 auto;
    display: block;
    width: 200px;
    padding: 5px;
    background: skyblue;
    border-radius: 3px;
    border: none;
    color: whi
}
.card{
    display: inline-grid;
    height: 250px;
    width: 200;
    background-color: #5891c4;
    margin: 6px;
    align-items: center;
    cursor: pointer;
}

